<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title != 'undefined' ? title: 'Blogul cu cafea' %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <!---SELECTORI-->
    <div class ="nav-class">
        <nav>
            <h2 class="blog-name">Blogul Meu</h2>
            <ul>
                 <li><a href="/Acasa" >Acasa</a></li>
                 <li><a href="/Blog" >Blog</a></li>
                 <li><a href="/contact" >Contact</a></li>
            </ul>
        </nav>
        <div class="content">
            <h1>Ce este cafeaua?</h1>
            <h4>Cafeaua este o băutură preparată din boabe de cafea prăjite, care sunt semințele fructelor de pădure de la o plantă numită Coffea - un membru al familiei Rubiaceae. Dar, în timp ce aproape toată lumea recunoaște un boabe de cafea prăjită, este posibil să nu recunoști plantele de cafea reale. Sunt arbuști sau copaci mici originari din Africa tropicală și de sud și din Asia tropicală, acum crescuți intens pe tot globul, între Tropicul Racului și Tropicul Capricornului.</h4>
        </div>
    </div>
    <!---Acasa-->
     <section class = "acasa">
        <div class="main">
            <img src="img/coffe.history.jpg">
            <div class="acasa-text">
                <h2>Istoria Cafelei</h2>
                <p>Istoria cafelei dateaza de mai mult de 1000 de ani, fiind consumata in Orientul Mijlociu de toate paturile sociale inca din vechime. La inceput cafeaua nu a fost considerata bautura ci aliment. Legenda spune ca aceasta planta a fost descoperita intamplator de un pastor etiopian care a observat ca animalele sale dupa ce consumau aceste plante deveneau agitate. Cert este ca originea cafelei se afla pe continentul african, intr-o zona a Etiopiei cunoscuta sub numele de "Kaffa" de unde se raspandeste in Yemen, apoi in Arabia si Egipt si chiar in India. Cafeaua a intrat in Europa in urma cu trei secole prin portul Venetia, fiind adusa de negustorii arabi. Cu toate ca de cand a fost descoperita s-a bucurat de o popularitate imensa, nici cafeaua nu a fost scutita de controverse, astfel o perioada Vaticanul a interzis consumul de cafea pe motiv ca era considerata bautura musulmanilor, iar in secolul XVI ea a fost interzisa pentru o scurta perioada chiar si in Imperiul Otoman datorita efectelor pe care cafeaua le are asupra sistemului nervos, vanzatorii si consumatorii de cafea au fost atunci aspru pedepsiti. In jurul secolului XII si Biserica Ortodoxă Etiopiană a interzis consumul cafelei, dar undeva la jumatatea secolului XIX raspandirea cafelei nu a mai putut fi stavilita. Si in zilele noastre cafeaua produce controverse fiind spre exemplu interzisa in Hamburg, dar nu din cauza cafelei in sine sau ale efectelor pe care aceasta le are asupra oamenilor ci din cauza ambalajului folosit. Mai exact autoritatile din Hamburg au inerzis consumul cafelei sub forma de capsule. Ei justifica aceasta actiune prin faptul ca şase grame de cafea sunt ambalate in trei grame de ambalaj extrem de poluant, foarte greu de reciclat deoarece este un mix de plastic si aluminiu.
                </p>
            </div>
        </div>
     </section>
     <!--Contact-Me-->
     <div class="contact-me">
        <p>Ai o intrebare?</p>
        <a class="button-two" href="/contact">Scrie-ne!</a>
     </div>
 
</body>
</html>
